# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Environment Variables
# =========================
.env

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Logs
# =========================
*.log

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# Pytest
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Build
# =========================
build/
dist/
*.egg-info/

# =========================
# Mypy
# =========================
.mypy_cache/

# =========================
# Uploaded Files (Optional)
# =========================
uploads/

*.test.py
